*
{
	box-sizing: border-box;
}
@font-face {
    font-family: 'Sohne'; /* Custom name to use in CSS */
    src: url('fonts/TestSohne-Buch-BF663d89cd32e6a.otf') format('opentype'); /* Path to the .otf file */
    font-weight: 400; /* Normal weight */
    font-style: normal; /* Regular style */
}
html
{
	font-size: 62.5%;
	font-family: "Sohne";
	font-weight: 400;
	font-style: normal;

	letter-spacing: 0.5px;
}
body
{
	background-color: #080808;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;

}

/* #171717 for greyish chatgpt color for regular nav bar items then black then white when hovering*/
#nav-bar
{
	display: flex;
	/*
	background: linear-gradient(90deg, #FCCF31 , #F55555);
	*/
	background: black;
	height: 5rem;
	position: fixed;
	width: 100%;
  top: 0;
  z-index: 1000;
}
.nav-bar-list
{
	display: flex;
	font-size: 1.3rem;
	line-height: 18px;
	list-style-type: none;
	color: white;
	justify-content: space-between;
	padding-left: 2rem;
	width: 100%;
	justify-content: flex-start;
	gap: 6rem;
}

.nav-left-side{
	display: flex;
	justify-content: flex-start;
	width: 50%;
	gap: 6rem;
	padding-left: 2rem;
}

.nav-right-side{
	display: flex;
	justify-content: flex-end;
	width: 50%;
	gap: 6rem;
	padding-right: 2rem;
}

 a:hover
{
	color: white;
	text-decoration: none;
}
a
{
	transition: background-color 0.5s;
	color: rgb(140, 140, 140);
	text-decoration: none;
	transition: background-color .1s;
}


.welcome-section, .main-section, .contact-section, .data-engineering-section, .full-stack-section, .ml-section
{
	height: 100vh;
	width: 100vw;
	background: #080808;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.name-intro, .job-intro, .intro, .quote
{
	display: flex;
	color: white;
	text-align: center;
  color: white;
  line-height: normal;
  margin: 1rem;  
}
.name-intro, .intro, .quote
{
	font-size: 5.4rem;
	line-height: 5.9rem;
	-webkit-font-smoothing: antialiased;
	letter-spacing: -1.0788px;
	font-feature-settings: normal;
	font-variation-settings: normal;
	text-wrap: balance;
}

.job-intro, .quote-author
{
	font-weight: 100;
	color: white;
	font-size: 1.8rem;
	line-height: 2.2rem;
}
.intro 
{
	font-size: 3rem;
}

.product-landing-pic, .survey-form-pic, .imdb-pic, .cloned-site-pic, .skywatch-pic, .missionOps-pic, .rps-pic, .etch-a-sketch-pic, .ios-calc-pic, .Stroke-Data-Analysis-pic, .yz-lib-pic
{
	display: flex;
	flex-direction: column;
	max-width: 75%; /* Ensures it scales down to fit its container */
  height: auto;    /* Maintains the aspect ratio */
  justify-items: center;
  align-self: center;
 	margin-bottom: 5rem;
 	border-radius: 1%;
}

.product-link:hover p, .survey-link:hover p, .imdb-link:hover p,  .product-link:hover p, .survey-link:hover p, .imdb-link:hover p, .cloned-site-link:hover p, .skywatch-link:hover p, .missionOps-link:hover p, .rps-link:hover p, .etch-a-sketch-link:hover p, .ios-calc-link:hover p, .Stroke-Data-Analysis:hover p, .yz-lib:hover p
{
	color: white;
	display: flex;
	text-decoration: none;
  justify-content: center;
  align-self: center;
}
.product-link p, .survey-link p, .imdb-link p, .product-link p, .survey-link p, .imdb-link p, .cloned-site-link p, .skywatch-link p, .missionOps-link p, .rps-link p, .etch-a-sketch-link p, .ios-calc-link p, .Stroke-Data-Analysis-link p, .yz-lib-link p
{
	display: flex;
	align-self: center;
	justify-content: center;
	transition: background-color 0.5s;
	color: rgb(140, 140, 140);
	text-decoration: none;
	transition: background-color .1s;
}
.project-product-landing-page, .project-form, .project-imdb, .project-cloned-site, .project-skywatch, .project-missionOps, .project-rps, .project-etch-a-sketch, .project-ios-calc, .project-Stroke-Data-Analysis, .project-yz-lib
{
	background: #080808;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}
.product-landing-page, .form, .imdb, .cloned-site, .skywatch, .missionOps, .rps, .etch-a-sketch, .ios-calc, .Stroke-Data-Analysis, .yz-lib
{
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(23, 23, 23);
	align-self: center;
	width: 50rem;
	height: 50rem;
	border-radius: 3%;
}
.product-landing-text, .form-text, .imdb-text, .cloned-site-text, .skywatch-text, .missionOps-text, .rps-text, .etch-a-sketch-text, .ios-calc-text, .Stroke-Data-Analysis-text, .yz-lib-text
{
	color: white;
	display: flex;
	font-size: 1.8rem;
	line-height: 2.2rem;
	justify-self: center;
	background-color: #171717;
	align-self: center;
}

.project-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

i {
	display: flex;
	justify-self: center;
	font-size: 3rem;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	justify-items: center;
	color: white;
}

.contact-section
{
	display: flex;
	display: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 0;
	margin-top: 1rem;
}

.social-media{
	display: flex;
	gap: 5rem;
	margin-top: 3rem;
}
footer
{
	font-size: 0.9rem;
	opacity: 0.8;
	letter-spacing: 0.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #080808;
}

.trademark
{
	color: white;
	font-size: 1.3rem;
	display: flex;
	flex-direction: row;
	justify-self: center;
	align-self: flex-end;
}

















---DEVICE BLOCKER---
#mobile-blocker {
  font-family: 'Sohne', sans-serif;
  padding: 4rem;
  line-height: 1.6;
  text-wrap: balance; /* Keeps the text from looking jagged */
}

#mobile-blocker h1 {
  margin-bottom: 2rem;
  letter-spacing: -1px;
}

#mobile-blocker {
  display: none;
}


@media (max-width: 1023px) {
  #mobile-blocker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    z-index: 9999; 
    text-align: center;
    padding: 20px;
  }


  body > *:not(#mobile-blocker) {
    display: none;
  }
}

